.contact-description {
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: top; }
  @media only screen and (min-width: 768px) {
    .contact-description {
      width: 50%; } }
