nav {
  border: none !important; }

.navigation-bar {
  background-color: transparent;
  transition: 0.3s ease-in-out; }
  .navigation-bar::before {
    display: table;
    content: " ";
    position: absolute;
    background-color: #ccb0d4;
    width: 110%;
    height: 40px;
    z-index: -100;
    top: 5px;
    left: -5%; }
  .navigation-bar .container {
    padding: 0;
    margin-top: 10px; }

.navigation-bar-closed {
  transform: translateX(100%); }
  .navigation-bar-closed .nav-button {
    transition: 1s ease-in-out;
    opacity: 0; }

@media screen and (min-width: 768px) {
  .navigation-bar .container > :nth-child(n + 2) {
    float: left; }
  .navigation-bar .container > :nth-child(n + 5) {
    float: right; }
  .navigation-bar .container .nav-button {
    width: 14.28571%; }
  .navigation-bar .container .nav-display-btn {
    width: 14.28571%;
    position: relative;
    right: auto;
    text-align: center; }
  .navigation-bar .container .nav-display-btn-link {
    float: none; } }
