html {
  font-size: 0.1vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;

}
section {
  min-height: calc(100vh - 205px) 
}

#root {
  overflow: hidden;
  min-height: 100vh;
}
